@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');

body, html {
  height: 100%;
  /* background-image: url(./assets/images/bg.jpg); */
}

.bg {
  /* background-image: url(); */
  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}